$primaryColor: rgba(20, 31, 51, 1);
$secondaryColor: rgba(20, 187, 184, 1);

$primaryGradient: linear-gradient(
  90deg,
  rgb(20, 187, 184) 0%,
  rgb(85, 213, 141) 50%,
  rgb(134, 240, 238) 100%
);
$white: rgba(245, 245, 245, 1);
$grey: rgb(66, 66, 66);
$black: rgba(10, 10, 10, 1);
