.header {
  @include paddingPrimaryBackgroundStyles;
  min-height: 2 * $thumb;
  display: grid;
  grid-template-columns: 20% 80%;
  place-items: center;

  &--contact {
    @include flexCC;
  }



  &--nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // background-color: azure;
  }
}
