.landingOne {
  @include paddingPrimaryBackgroundStyles;
  @include flexCC;

  &--Container {
    padding: 3 * $thumb 0;
    @include flexCenterStart;
    flex-basis: 50%;
  }
}

.landingTwo {
  @include paddingWhiteStyles;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 110% 100px;
  overflow: hidden;
  padding-top: 2 * $thumb;
  padding-right: 65%;
}

.landingThree {
  @include paddingAllPrimaryBackgroundStyles;
  @include flexCC;
  flex-direction: column;
  gap: $thumb;

  &--container {
    @include flexCC;
    flex-direction: column;
    gap: $thumb * 0.25;
  }

  &--logo {
    &Container {
      padding: 0 15%;
      width: 100%;
      height: 2 * $thumb;
      @include flexCC;
      gap: $thumb * 0.25;
    }

    height: 2 * $thumb;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.landingFour {
  @include paddingAllPrimaryBackgroundStyles;
  @include flexCC;
  flex-direction: column;
  gap: $thumb;
  text-align: center;
}

.landingFive {
  display: flex;

  &--container {
    flex: 1;
  }

  &--content {
    @include flexCenterLeft;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: $thumb * 5 0;
    gap: $thumb * 0.8;
  }

  &--img {
    width: 90%;
    height: 600px;
    max-height: 600px;
    border-radius: 0% 7% 15% 0%;
    margin: $thumb * 0.5 0 $thumb 0;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 1rem 1rem 0.7rem rgb(0 0 0 / 20%);
  }
}

.landingSix {
  @include flexCC;
  @include paddingAllPrimaryBackgroundStyles;
  color: $white;
  flex-direction: column;
  gap: $thumb;
  text-align: center;
}

.landingJobOffers {
  @include flexCC;
  @include paddingWhiteStyles;
  justify-content: space-around;

  &--offer {
    @include flexCC;
    border: 2px solid $secondaryColor;
    border-radius: 70px;
    box-shadow: 0 10px 10px 5px rgb(0 0 0 / 20%);
    color: $grey;
    min-height: $thumb * 1.7;
    text-align: center;
    word-wrap: break-word;

    &__element {
      transition-duration: 0s;
      color: $grey;
      width: 20%;

      &:first-of-type {
        color: $secondaryColor;
        font-weight: bold;
        text-align: left;
      }
      &:last-of-type {
        text-align: right;
      }
    }
    &:hover {
      background-color: $primaryColor;
      border: 2px solid $primaryColor;
      transform: scale(1.1);
      transition-duration: 0.2s;

      .landingJobOffers--offer__element {
        color: $white;
      }
    }
  }

  // &--offer {
  //   @include flexCC;
  //   border: 2px solid $secondaryColor;
  //   border-radius: 70px;
  //   box-shadow: 0 10px 10px 5px rgb(0 0 0 / 20%);
  //   color: $grey;
  //   min-height: $thumb * 1.7;
  //   text-align: center;
  //   word-wrap: break-word;
  //   transition: all 0.2s;

  //   &__element {
  //     transition-duration: 0s;
  //     color: $grey;
  //     width: 20%;

  //     &:first-of-type {
  //       color: $secondaryColor;
  //       font-weight: bold;
  //       text-align: left;
  //     }

  //     &:last-of-type {
  //       text-align: right;
  //     }
  //   }

  //   &:hover {
  //     background-color: $primaryColor;
  //     border: 2px solid $primaryColor;
  //     transform: scale(1.1);
  //     transition: all 0.2s;

  //     & * {
  //       color: $white;
  //     }
  //   }
  // }

  &--container {
    display: flex;
    flex-direction: column;
    width: 40%;

    &__centered {
      align-items: center;
      justify-content: center;
    }
  }

  &--box {
    display: flex;
    flex-direction: column;

    gap: $thumb * 0.5;
    min-height: 500px;
  }

  &--content {
    line-height: $thumb;
    font-size: $paragraphFontSize;

    :first-of-type {
      font-weight: 600;
    }
  }

  &--search {
    @include flexCC;
    width: 80%;
    height: $thumb * 1.5;

    &__input {
      background-color: $white;
      border: 2px solid $secondaryColor;
      border-radius: 13px 0 0 13px;
      box-sizing: border-box;
      font-size: 15px;
      height: 100%;
      padding: 0 2% 0 2%;
      width: 100%;
    }

    &__button {
      background: linear-gradient(to right, #14bbb8, #55d58d);
      border-radius: 0 13px 13px 0;
      box-sizing: border-box;
      color: $white;
      cursor: pointer;
      font-size: 15px;
      height: 100%;
      width: 60%;
    }
  }
}

.spierdalajNaDol {
  // justify-self: flex-end;
  // align-self: flex-end;
}
