$thumb: 44px;

$standardLeftRigthPadding: 10%;

$baseElementPadding: $thumb * 1.5 $standardLeftRigthPadding;
$baseElementPaddingWithUpDown: $thumb * 2 $standardLeftRigthPadding;

$animationDuration: 0.5s;
